@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: linear-gradient(to right, #7a34e2, #e3b0ca);
}

.box-style {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background: white;
  padding: 15px;
  border-radius: 10px;
  width: 250px;
  background: linear-gradient(to right, #7a34e2, #e3b0ca);
  color: #fff;
  border: 2px solid #7a34e2;
}

.inputs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.city-info {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.city-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.city-info-header span {
  display: flex;
  gap: 5px;
  align-items: center;
}

input,
button {
  padding: 10px;
  border: 1px solid #a7a7a7;
  border-radius: 4px;
  outline: none;
}

button {
  background-color: #7a34e2;
  color: white;
  cursor: pointer;
}

.city-info-data {
  display: flex;
  gap: 10px;
  align-items: center;
}

.city-info-date {
  display: flex;
  align-items: center;
  gap: 5px;
}

.temp {
  font-size: 45px;
}
.temp::after {
  content: "C";
}

.other-city-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
